<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <context-param>
    <param-name>nombreSitio</param-name>
    <param-value>clasificados</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>clasificados@info.unlp.edu.ar</param-value>
  </context-param>
  <context-param>
    <param-name>telefono</param-name>
    <param-value>221-556984</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>ttps.clasificados.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>clasificados</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Menú</display-name>
    <servlet-name>Menú</servlet-name>
    <servlet-class>ttps.clasificados.Menú</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menú</servlet-name>
    <url-pattern>/Menú</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>misListeners.InicializaClasificados</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Encabezado</display-name>
    <servlet-name>Encabezado</servlet-name>
    <servlet-class>ttps.clasificados.Encabezado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Encabezado</servlet-name>
    <url-pattern>/Encabezado</url-pattern>
  </servlet-mapping>
</web-app>